@model BarrowBooks.UI.ViewModels.SearchBookViewModel
@{
    ViewBag.Title = "BookSearch";
}

<h2>BookSearch</h2>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="form-group">
        <label for="Name">Name</label>
        @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(m => m.Name)

        <label for="Author">Author</label>
        @Html.TextBoxFor(m => m.Author, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Author)

        <label for="ISBN">ISBN</label>
        @Html.TextBoxFor(m => m.ISBN, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.ISBN)
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
}
